p{
border-left:210px;
border-right:210px;
	color:  #FFFFFF;
}

body{
width: 1500px;
font-family: 'Oxanium', cursive;
  background-color:  grey;
  aligin-content: center;
border-left:210px;
border-right:210px;
}

h1{
aligin-content: center;
	color:#FFFFFF;
	
border-left:210px;
border-right:210px;
}

opo{
aligin-content: center;
	color:#FFFFFF;

border-left:210px;
border-right:210px;
}

ert{
aligin-content: center;
	color:#FFFFFF;

border-left:210px;
border-right:210px;
}
